@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@import "variables";
@import "mixin";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";


* {
  padding: 0;
  margin: 0;
}

bogy {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.wrapper {
  z-index: 1;
  background: url("../images/bg_site.jpg") no-repeat center center;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 0.75rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.75rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1rem;
  }
}

h1 {
  font-weight: $font-weight-bold;
  line-height: 1.3;
  color: $h1_font_color;
}

h2 {
  line-height: 1.16;
}

h3 {
  line-height: 1.6;
}

h4 {

}

//_____________________________________________________________


header {
  z-index: 3;

  .navbar-nav {
    @include max-screen(992px) {
      background-color: $blue;
      opacity: 0.8;
      border: 1px solid $blue;
      border-radius: 40px 0 0 0;
      text-align: center;
      width: 100vw;
      font-size: 1.2rem;
    }

    .nav-item {
      .nav-link {
        font-family: $second_font;
        font-weight: $font-weight-medium;
        color: $nav_light_color;

        @include max-screen(992px) {
          color: $white;
          padding: 1rem;
        }

        &.dark-link {
          color: $nav_dark_color;
        }

        &.btn {
          color: $white;
          background: $blue;
          border: 1px solid $blue;
          @include max-screen(992px) {
            text-align: center;
            font-size: 1.4rem;
            border: none;
          }

          &:hover {
            color: $blue;
            background: $white;
          }
        }

        &:hover {
          color: $blue;

          @include max-screen(992px) {
            color: $blue;
            background: $white;
            border: 1px solid $blue;
          }
        }
      }
    }
  }
}

//_______________________________________________
//MAIN BANNER

.main_banner {
  background: url("../images/bg_main.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  @include max-screen(992px) {
    height: 100%;
  }

  .description {
    align-items: center;
    justify-content: flex-start;
    //margin-bottom: 5.81rem;

    @include max-screen(992px) {
      margin-top: 10rem;
      margin-bottom: 3.5rem;
    }

    h1 {
      margin-bottom: 1.94rem;

      > span {
        color: $blue;
      }
    }

    p {
      font-size: 0.875rem;
      color: $main_light_color;
      line-height: 2.14;
      margin-bottom: 3.125rem;
      @include max-screen(1200px) {
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }
    }
  }

  .form_doctor_find {
    background: $white;
    box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
    border-radius: 8px;
    padding: 0.8125rem 0.875rem 0.875rem 0.8125rem;
    @include max-screen(576px) {
      margin: 0;
    }

    .div_input_doctor {
      #input_doctors_name {
        font-family: $second_font;
        font-size: 0.875rem;
        color: $main_light_input_color;
        background: $main_light_bg_input_color;
        border-radius: 8px;
        border: none;
        height: 3.69rem;
        @include max-screen(992px) {
          margin: 0.5rem;
        }

        &.form-control {
          padding: 1.06rem 0.125rem 1.125rem 1.875rem;
        }
      }
    }

    .div_input_state {
      display: inline-block;

      #input_state {
        font-size: 0.875rem;
        font-family: $second_font;
        background: $main_light_bg_input_color;
        border-radius: 8px;
        border: none;
        height: 3.69rem;
        @include max-screen(992px) {
          margin: 0.5rem;
        }

        &.form-control {
          position: relative;
          padding: 1.06rem 0.31rem 1.125rem 3.125rem;

          @include max-screen(576px) {
            padding: 1.06rem 0.31rem 0.8rem 2rem;
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        background: url("../images/Icon.svg") no-repeat;
        background-size: cover;
        width: 0.94rem;
        height: 1.19rem;
        margin-right: 0.5rem;
        margin-left: 1.69rem;
      }
    }

    .btn {
      background: $blue;
      border-radius: 8px;
      width: 4.375rem;
      height: 3.5rem;
      @include max-screen(992px) {
        width: 100%;
        margin: 0.5rem;
      }

      &:after {

        content: '';
        position: absolute;
        background: url("../images/Search_button.svg") no-repeat;
        background-size: cover;
        width: 1.75rem;
        height: 1.94rem;
        top: 0.75rem;
        right: 1.4rem;

        @include max-screen(992px) {
          top: 31%;
          right: 50%;
        }
      }
    }
  }

  select {
    padding-right: 1.25rem;
    overflow: hidden;
  }

  .div_woman {
    z-index: 5;
    display: flex;
    bottom: -5.7rem;
    right: 0;
    //max-width: 588px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;


    @include max-screen(992px) {
      //display: none;
      bottom: -0.5rem;
      right: 9%;
    }

    .main_img_woman {
      width: 100%;
    }
  }

  .div_circle {
    z-index: 4;
    display: flex;
    bottom: -3.56rem;
    right: -6.5rem;
    //max-width: 588px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;


    @include max-screen(1200px) {
      right: -6rem;
    }

    @include max-screen(992px) {
      //display: none;
      bottom: 0;
      right: -10%;
    }

    .main_img_circle {
      width: 80%;
    }
  }
}

//
//.icons {
//  max-width: 588px;
//  margin: auto;
//}
//
//.div_icons {
//  z-index: 6;
//
//  img {
//    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.05));
//  }

//&.icon1 {
//  bottom: -1.5rem;
//  left: 3.3rem;
//  max-width: 213px;
//  margin: auto;
//  img{
//    width: 100%;
//    display: block;
//  }
//}
//
//&.icon2 {
//  bottom: 50%;
//  right: 655px;
//  width: 70px
//}
//
//&.icon3 {
//  bottom: 425px;
//  left: 115px;
//  width: 93px;
//}
//
//&.icon4 {
//  bottom: 435px;
//  left: 615px;
//  width: 70px;
//}
//
//&.icon5 {
//  bottom: 125px;
//  left: 530px;
//  width: 162px;
//}
//}


//__________________________________
//EASY STEPS

.easy_steps {
  padding-top: 4.69rem;
  padding-bottom: 4.69rem;
  @include max-screen(992px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .card {
    border: none;
    background: none;
    max-width: 319px;
    margin: auto;

    img {
      width: 5.06rem;
    }

    .card-body {
      p {
        color: $steps_light_color;
        font-size: 0.75rem;
        line-height: 1.43;
      }
    }
  }
}

//__________________________________
//QUALITY SERVICE

.quality_service {
  .for_img {
    max-width: 100%;
  }

  p {
    color: $p_light_color;
    font-size: 1.125rem;
    line-height: 1.67;
  }

  .list-group-item {
    background: none;
    line-height: 1.875;
  }

  .btn {
    line-height: 1.875;
    padding: 0.625rem 2.625rem 0.625rem 1.188rem;
    border-radius: 5px;
    position: relative;
    background: $blue;
    color: $white;
    border: 1px solid $blue;

    &:after {
      content: url("../images/icon_arrow-right.svg");
      max-width: 100%;
      position: absolute;
      top: 11.5px;
      right: 18px;
      @include max-screen(992px){
        top: 6.5px;
        right: 13px;
      }
    }

    &:hover {
      color: $blue;
      background: $white;

      &:after {
        content: url("../images/icon_check.svg");
      }
    }
  }
}

//__________________________________
//OUR SERVICE

.our_service {
  padding-top: 8.94rem;
  padding-bottom: 7.5rem;
  @include max-screen(992px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .description {
    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 4.69rem;
      color: $p_light_color;
    }
  }

  .item {

    .for_img {
      max-width: 77px;
      margin: auto auto 1.19rem;

      img {
        display: block;
        width: 100%;
        height: 4.81rem;
      }
    }

    h4 {
      margin-bottom: 1.44rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.57;
      color: $carousel_light_color;
    }
  }
}

.service_carousel {
  max-width: 100%;

  .owl-stage-outer {
    background: none;
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.75rem;

    .owl-dot {

      & span {
        background: $carousel_dots_light_color;
        width: 1.125rem;
        height: 1.125rem;

        &:hover {
          background: $blue;
        }
      }

      &.active {
        & span {
          background: $blue;
          width: 3.75rem;
          height: 0.94rem;
        }
      }
    }
  }

  .owl-item {
    background: #FFFFFF96;
    border-radius: 10px;
    border: none;
    max-width: 349px;
    margin: auto;
    padding: 3.81rem 3.88rem 1.94rem 3.94rem;

    &.active {

      &.center {
        background: $white;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        position: relative;

        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          background-color: $blue;
          background-size: contain;
          opacity: 0.5;
          box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
          border-radius: 0 0 10px 10px;
          bottom: 0;
          height: 18px;
          width: 100%;
          right: 0;
        }
      }
    }
  }
}

//__________________________________
//MEET DOCTORS

.meet_doctors {
  padding-bottom: 7.625rem;
  @include max-screen(992px) {
    padding-bottom: 5rem;
  }

  .container {
    max-width: 1176px;
    margin: auto;
  }

  .description {
    h2 {
      margin-bottom: 1.125rem;
    }

    img {
      max-width: 81px;
      width: 100%;
      margin: auto auto 1rem;
    }
  }

  p {
    margin-bottom: 4.313rem;
    color: $p_light_color;
    @include max-screen(992px) {
      margin-bottom: 1rem;
    }
  }

  .card {
    max-width: 267px;
    padding: 0.625rem 0.81rem 1.25rem;
    margin: 0.5rem;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    border: 1px solid #EEEFF1;
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px;

    .for_img {
      height: 249px;
      max-width: 241px;
      width: 100%;
      overflow: hidden;
      border: 1px solid #EEEFF1;
      box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
      border-radius: 10px;

      img {
        width: 100%;
        margin-top: -1.69rem;
        //margin-top: -27px;
      }
    }

    .card-body {
      h4 {
        margin-bottom: 0.06rem;
      }

      p {
        margin-bottom: 1.06rem;
        color: $carousel_light_color;
        font-size: 0.875rem;
        line-height: 1.57;
      }
    }

    .social {

      a {
        &.btn {
          padding: 0;
          margin-right: 0.375rem;
        }
      }

      .fa-facebook-f,
      .fa-twitter,
      .fa-linkedin-in {
        height: 31px;
        width: 31px;
        border-radius: 50%;
        background: #4D77CF;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      .fa-twitter {
        background: #1DA1F2;
      }

      .fa-linkedin-in {
        background: #0077B5;
      }
    }
  }

  .load-more {
    padding: 0.56rem 1.31rem 0.5rem 1.375rem;
    background: $blue;
    border-color: $blue;
    border-radius: 5px;
    color: $white;

    & span {
      display: none;
    }
  }
}

//__________________________________
//MOBILE APPS

.mobile_apps {
  padding-bottom: 7.5rem;
  @include max-screen(992px) {
    padding-bottom: 3rem;
  }

  h2 {
    margin-bottom: 1.875rem;
  }

  p {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.875;
    color: $p_light_color;
  }
}

//__________________________________
//REVIEWS

.reviews {
  padding-bottom: 11.19rem;
  @include max-screen(992px) {
    padding-bottom: 7rem;
  }

  > .container {
    max-width: 1375px;
    margin: auto;
  }

  h2 {
    margin-bottom: 4.25rem;
    @include max-screen(992px) {
      margin-bottom: 2rem;
    }
  }

  .reviews_carousel {
    padding: 1.56rem 6rem 1.19rem 6.25rem;
    width: 100%;

    @include max-screen(576px) {
      display: flex;
      @include flex-direction(column);
      padding: 0.8rem;
    }

    .card {
      padding: 1.31rem 1.06rem 2rem 3rem;
      background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
      /* Shadow */
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      border: none;
      height: 370px;
      width: 100%;
      object-fit: cover;

      @include max-screen(576px) {
        padding: 0.8rem;
      }

      .card-img-top {
        max-width: 63px;
        width: 100%;
        height: 63px;
        margin: auto;
        border-radius: 50%;
        border: none;
      }

      .card-body {
        > p {
          color: $review_dark_color;
          line-height: 1.56rem;
          //overflow: clip;
          margin: auto;
        }

        .description {
          margin-top: 0.56rem;
          margin-bottom: 1.31rem;

          blockquote {

            word-wrap: break-word;
            overflow: hidden;

            p {
              font-size: 0.875rem;
              line-height: 1.04rem;
              background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-fill-color: transparent;
            }
          }
        }
      }
    }

    .owl-nav {
      display: block;

      .owl-prev {
        position: absolute;
        left: 0;
        top: 45%;

        &:before {
          height: 33px;
          max-width: 33px;
          margin: auto;
          content: url("../images/arow_left_blue.svg");
          background: linear-gradient(133.16deg, rgba(154, 208, 255, 0.1065) 0%, rgba(111, 188, 255, 0.1005) 112.21%);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          padding: 0.44rem 0.69rem;
          display: inline-block;
        }

        &:hover,
        &:focus,
        &:active {
          background: $blue;

          &:before {
            content: url("../images/arow_right_white.svg");
            transform: rotateY(180deg);
          }
        }
      }

      .owl-next {
        position: absolute;
        right: 0;
        top: 45%;

        &:before {
          height: 33px;
          max-width: 33px;
          margin: auto;
          content: url("../images/arow_left_blue.svg");
          background: linear-gradient(133.16deg, rgba(154, 208, 255, 0.1065) 0%, rgba(111, 188, 255, 0.1005) 112.21%);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          padding: 0.44rem 0.69rem;
          transform: rotateY(180deg);
          display: inline-block;
        }

        &:hover,
        &:active,
        {
          background: $blue;

          &:before {
            content: url("../images/arow_right_white.svg");
            transform: rotateY(0deg);
          }
        }
      }
    }
  }
}

//__________________________________
//CALL TO ACTION

.call_to_action {
  padding-bottom: 7.7rem;
  position: relative;
  @include max-screen(992px) {
    padding-bottom: 7rem;
  }

  .container {
    max-height: 21.31rem;
    background-color: $blue;
    border-radius: 12px;

    @include max-screen(576px) {
      border-radius: 0;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }

  .content {
    position: relative;
  }

  .description {
    margin-top: 5.125rem;
    margin-bottom: 5.75rem;
  }

  h2 {
    color: $white;
    line-height: 1.175;
    margin-bottom: 1.31rem;
    text-transform: capitalize;
  }

  .btn {
    font-size: 1.125rem;
    line-height: 1.67;
    padding: 1rem 1.125rem .94rem;
    background: $white;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid $blue;
    color: $blue;

    &:hover {
      color: $white;
      background: $blue;
      border: 1px solid $white;
    }
  }

  .doctor_woman {
    position: absolute;
    right: 0;
    bottom: 0.9375rem;
    overflow: hidden;

    @include max-screen(767px) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

// ____________________________
//  FOOTER

footer {
  p {
    font-family: $footer_font;
    font-size: 0.875rem;
    color: $light_footer_color;
  }

  li {
    list-style: none;
  }

  a {
    color: $light_footer_color;
  }
}

.page_footer {

  li {
    padding-bottom: 1rem;
  }

  .container-fluid {
    border-bottom: 1px solid #969696;
    opacity: 0.2;
  }

  .footer_first {

    .contact_info {
      .logo {
        margin-bottom: 0.75rem;
      }

      p {
        margin-bottom: 1rem;
        margin-right: 0.5rem;
      }
    }

    .footer_menu {
      h4 {
        color: $dark_footer_color;
      }

      .nav-link {
        padding-bottom: 0;
        margin-bottom: 1rem;
      }

      .nav-item {
        padding: 0;
      }
    }
  }

  .subscribe {

    .input {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      font-size: 0.875rem;
      color: rgba(117, 117, 117, 0.65);
      background: $white;
      border: 1.1px solid #E1E2E4;
      border-radius: 5px;
    }

    .btn {
      padding-left: 16px !important;
      color: $white;
      background-color: $blue;
      border-radius: 1px solid $blue;

      &:hover {
        color: $blue;
        background-color: $white;
      }
    }
  }
}

